<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-grid id="container">
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="https://scontent.fmnl8-6.fna.fbcdn.net/v/t39.30808-6/485342087_1874048326750150_8837245375744574838_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=cc71e4&_nc_eui2=AeE6fOwdLamSPsLLd2U6VFpqVQd52oTfaulVB3nahN9q6Y3WfrB5Rl9Aiqm-Y1g4TzhF9zQ05IwEQJYGJoMjPY1C&_nc_ohc=k1_KFIJ1LssQ7kNvwGgwxGC&_nc_oc=AdnF81_Lw98dyKxynQzkBsDmNgZauA-PVyjLEka0DvE1m3cpAfePAJlBJC7-iCR4IL0&_nc_zt=23&_nc_ht=scontent.fmnl8-6.fna&_nc_gid=1ejo73VnEDZHk9IrqDwqYw&oh=00_AfQzbi_EiV0lAyE3LUSgUdqSI6XawFbvRXYAPjAkZjV7DQ&oe=68913FE0" />
          <ion-card-content>
            Food Trip sa Yoshinoya...
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="https://scontent.fmnl8-4.fna.fbcdn.net/v/t51.82787-15/524917291_18273138025302319_3945067835164640308_n.webp?stp=dst-jpg_tt6&_nc_cat=102&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeHVcinH9K4_LPrOMgkZ4ex6Qjew0JM_rdVCN7DQkz-t1YalQgjI2rSc_HSzIlJW8ZspQtKx2giD6qgJlVcrxtKr&_nc_ohc=_9t9unF9IbEQ7kNvwF3dnW-&_nc_oc=AdnKdzE_VhWatIRbVkA9H_IhmW5hPJ_grjaGZHwOZ_5Wn4P0xET9FxpgOFZvc7DESyE&_nc_zt=23&_nc_ht=scontent.fmnl8-4.fna&_nc_gid=qMWcDKFg2D6AQsvOA2DjQg&oh=00_AfRJ0XLbG0i0YCRxTaHfLyGT-MpZXpvA2CACi8FGHe04fA&oe=68915AEB" />
          <ion-card-content>
            Star City Kahit Maulan
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <img src="https://scontent.fmnl8-2.fna.fbcdn.net/v/t51.82787-15/525246302_18273137890302319_8276993424298767975_n.webp?stp=dst-jpg_tt6&_nc_cat=103&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeEEIlL6AA7cNGM2KayXNVZJRtm-dIkMFJ9G2b50iQwUn1rP4WNP63UdJm77dPCp6f7ypRABDZNyk8ChuhjILcT2&_nc_ohc=nnop6VJ2Q5YQ7kNvwHa2yTi&_nc_oc=Adk-LDCl9ide52y5ZVz6QhHYYoa-fBSKzASc_MQEn4ZegCiAVNIFyELdQohp6_feseA&_nc_zt=23&_nc_ht=scontent.fmnl8-2.fna&_nc_gid=a2nA7PiAgeJqQ-f154MuyA&oh=00_AfSR_k5e6NO834DxlY7eAnptlkUPk0YFNmwM9sdb50SpwA&oe=68913EBE" />
          <ion-card-content>
            Sa Ferris Wheel Naman - kakatapos na lang sumigaw dun sa 3d na horror na ano..
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="https://scontent.fmnl8-1.fna.fbcdn.net/v/t51.82787-15/518214190_18271393006302319_8591966502456292619_n.webp?stp=dst-jpg_tt6&_nc_cat=108&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeESsmHzAON33mcdemyCKdEqSRMDkKxRPVBJEwOQrFE9UCRHiELExQi_-XpQnn84BCGsYL2DC_AVMctLtY6X7oWQ&_nc_ohc=2TySLJzRSssQ7kNvwG5U4BI&_nc_oc=Adnd0K_JNCTYZImoHR2ymppdanvw2c7LihEseWANPSEeLqrCcLtdStoizv8lSfxUEQQ&_nc_zt=23&_nc_ht=scontent.fmnl8-1.fna&_nc_gid=0La9Uss50HriOd1uLqd0VQ&oh=00_AfTTk3RLTN625RbidjyE2--9EhHEnu4Dxt4Artn6iIDAmg&oe=689142E9" />
          <ion-card-content>
            McDonalds 💗💗
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <img src="https://scontent.fmnl8-4.fna.fbcdn.net/v/t51.82787-15/520466736_18271392925302319_8622386004029090186_n.webp?stp=dst-jpg_tt6&_nc_cat=102&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeGu5KWPTk6RSs-wlO-NGN71SRdYexPeWHFJF1h7E95YcXF3sTifZcGs9iJ1a1HbjdQn4sZxpF-dwM-Iar5Av67E&_nc_ohc=xHMikFo72eYQ7kNvwHdPwcw&_nc_oc=AdmOsfcbUkZYiN3ad3kI1WlBQs2_dTEG_29MdpmHeaWLY_xZKwY3TzpHM39Pd0Ip0oY&_nc_zt=23&_nc_ht=scontent.fmnl8-4.fna&_nc_gid=bi4PA-toOlbiPIy0SF5ZDg&oh=00_AfTU3bB5UFE7Ummw2kwn0OAfb8pOVkGLozn3scJlrCBnAw&oe=68913CE4" />
          <ion-card-content>
            Sa zeus coffee naman pasensya na kung di tayo nakabili nung plushie nila...
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="https://scontent.fmnl8-1.fna.fbcdn.net/v/t51.82787-15/518368445_18271393042302319_9059833605856396779_n.webp?stp=dst-jpg_tt6&_nc_cat=106&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeGuIr53H1i995xzhAikCfLoHhFrJRt1bikeEWslG3VuKdCHYPvnRbF_bsgY9IyRL2LedVH6EcV30PVcOwj3AoJ4&_nc_ohc=flIIxOd-lFUQ7kNvwGwsuvg&_nc_oc=Adnx3fS6UnBnPDKFa_SYyoc9hKzUoR05Xrq8Ds2VaRlQcy6B1u26tFi2q0gxdvbmmhs&_nc_zt=23&_nc_ht=scontent.fmnl8-1.fna&_nc_gid=EsY2MrhH3X_GWOKj369bPw&oh=00_AfR3v-O26bxMX0nBEowNV06PMVTPFW9aqPSin6RW0VBe0g&oe=689133AC" />
          <ion-card-content>
            Happy Sya Dahil Meron Syang Avocadoriaaa! Yaaayy!
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <img src="https://scontent.fmnl8-3.fna.fbcdn.net/v/t51.75761-15/495752486_18263864692302319_563674447415247956_n.webp?stp=dst-jpg_tt6&_nc_cat=105&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeGVM0OlIbzx5aBBkIh9-hhNJ06Pdja4eOgnTo92Nrh46KKoinzpl39G9oQvBtBMfKjIbeT-PB4qULDx-c03Hmgi&_nc_ohc=xKMVxQijaLoQ7kNvwGHZidP&_nc_oc=AdmSN13RmGZ8zFMVwadxuwMz_GjLP82UgMFrtqwZynMiSXHr1TIdkpl8qcSVBsEg0iU&_nc_zt=23&_nc_ht=scontent.fmnl8-3.fna&_nc_gid=fU9EicyV0Rem1YtZU239NA&oh=00_AfQZsVfXgod61l21QVYprujUIJwc7r2bxBxo4nY113U1rw&oe=68914C29" />
          <ion-card-content>
            Kakatapos lang manood ng Thunderbolts sa Megamall... Sana sa susunod sa MOA tayo manood at naka-IMAX na...
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="https://scontent.fmnl8-3.fna.fbcdn.net/v/t51.75761-15/479494216_18255183733302319_4389312494197642189_n.jpg?stp=dst-jpg_tt6&_nc_cat=101&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeHNXeeey7-85cbionCu94Smk1-YObYUm-qTX5g5thSb6lQIm8N0x8Cp95rrj71RUipZdvb192Muwo_30Glmgp8b&_nc_ohc=qYBcyTYrC9kQ7kNvwFxCGK1&_nc_oc=Admr7w57gOMZayEzEiPikhT34nuIVcbVL2JfjDObkDWi0t3FP88ak7p3iuP-UY2whqA&_nc_zt=23&_nc_ht=scontent.fmnl8-3.fna&_nc_gid=1936Td_PQTZc2ZzYV7VqcA&oh=00_AfQiJ498CqZTPpVenwLqtZ4nWXw5UnCMbF93z-NrLutbwQ&oe=68913E24" />
          <ion-card-content>
            Intramurus Date....
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <img src="https://scontent.fmnl8-2.fna.fbcdn.net/v/t39.30808-6/485758572_1874388383382811_1503965463118317733_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=f727a1&_nc_eui2=AeG9BAPtdNL2I3eIeAUeYpoz6lnI6DVCv57qWcjoNUK_nlHmmMCm2Ic52xFujZ6nTuj0GsaRgTIdWzuaCW1ANoiq&_nc_ohc=KbLDbd4kvE0Q7kNvwGWG-kT&_nc_oc=AdlL8Tfps8u--6AP7g99lluI1_wvrOXjeJX7EIkBmaq2ij3Ozb5YoxBTlwLNaUhcFOY&_nc_zt=23&_nc_ht=scontent.fmnl8-2.fna&_nc_gid=9SXYJgV6KwXfUEyCnVEqeQ&oh=00_AfScb-A88d31Sd8KVdeI3dUoWCcNPNmO9fqCUQgbJ69r_w&oe=68914CFF" />
          <ion-card-content>
            SM Manila Pagkatapos
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="https://scontent.fmnl8-5.fna.fbcdn.net/v/t39.30808-6/485664761_1874388363382813_8615742773737440213_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=f727a1&_nc_eui2=AeGAvzw18EYN2uXT-UW1_4m8DAK6L5LYg4MMArovktiDg5wFZ_SC5a6SdXl9LzvKHjQwnVopsjT1Ks-0wOLelMPj&_nc_ohc=7-epGO5zlXEQ7kNvwHTVoa-&_nc_oc=AdkXOzaDG-xu5KCG5j0CO2lts1fNY3dArsUnIoDZw7WTt8ysyeDO8CH1DifUMlS8xiI&_nc_zt=23&_nc_ht=scontent.fmnl8-5.fna&_nc_gid=33RT1f53QyB7RIPZhGfwQA&oh=00_AfSfUIxjuf4zusSsjqWwGIY_FcsdqGL612kYSfpl8yXLng&oe=68914F43" />
          <ion-card-content>
            At shakeys...
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
